
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1>New review for <%= @restaurant.name %></h1>
      <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.submit "Add this review", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
